.container {
    position: relative;
}

#img1 {
    width: 100%;
    height: auto;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.nav a {
    color: gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    font-size: 20px;
}

#idname {
    text-decoration: none;
    color: red;
}

.center {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    border: 5px dashed gray;

}

.bottomright h2 {
    color: red;
    margin-bottom: 0;
    margin-left: 20px;
}

.bottomright p {
    margin-top: 5px;
    margin-left: 20px;
}

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}