body {
    margin: 0%;
}

.logo1 {
    grid-area: logo1;
    display: flex;
    justify-content: left;
    margin-left: 200px;
}

#logotext1 {
    margin-top: 40px;
    margin-left: 10px;
    font-size: 35px;
}

.nav {
    grid-area: nav;
    margin: auto;
    margin-top: 40px;
    display: flex;
    gap: 30px;
    font-size: 17px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 40px;
    margin-top: 250px;
}

.context {
    margin-top: 90px;
    padding-left: 100px;
    grid-area: context;
    text-align: left;
    font-size: 30px;
}

#social {
    margin-bottom: 0%;
}

#business {
    margin-top: 0%;
    margin-bottom: 0%;
}

#perfomance {
    margin-top: 1%;
    font-size: 13px;
    color: gray;
}

.button1 {
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    padding-bottom: 20px;
}

#buttontext1 {
    margin: auto;
    margin-left: 6%;
    font-size: 16px;
    color: white;
}

.imggroup1423 {
    grid-area: imggroup1423;
}

#group1423 {
    width: 65%;
    height: auto;
}

.mouseicon {
    grid-area: mouse;
}

#buttonmouse {
    border-radius: 48%;
    width: 30px;
    height: 45px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 8px 8px 20px gray;
}

.container1 {
    display: grid;
    grid-template-areas:
        'logo1 logo1 logo1 nav nav nav'
        'sidebar context context imggroup1423 imggroup1423 imggroup1423'
        'mouse mouse mouse mouse mouse mouse'
    ;
    text-align: center;
    background-image: url(../image/Bg\ Shape@2x.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top right;
}

a {
    color: white;
    text-decoration: none;

}

.image {
    grid-area: image;
    margin-top: 80px;
}

#leftimage {
    width: 80%;
    height: auto;
}

.context2 {
    grid-area: context2;
    text-align: left;
    padding-right: 100px;
    margin: auto;
    margin-left: 10%;
    margin-top: 17%;
}

#bio {
    text-decoration: none;
    color: blue;
    font-size: 20px;
}

#title {
    margin-top: 20px;
    font-size: 55px;
    margin-bottom: 0%;
}

.text {
    font-size: 19px;
    color: grey;
}

.button2 {
    margin: auto;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-repeat: no-repeat;
    padding-bottom: 50px;
    padding-top: 11px;
}

#buttontext2 {
    margin: auto;
    margin-left: 65px;
    font-size: 19px;
    color: white;
}

.container2 {
    margin-top: 5px;
    display: grid;
    grid-template-areas:
        'image context2'
    ;
    text-align: center;
    background-image: url(../image/who\ we\ are\ background@2x.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-x: 700px;
    background-position-y: 110px;
}

.contexttext {
    text-align: left;
    padding-left: 150px;
    grid-area: contexttext;
}

#servicelink {
    margin-bottom: 0%;
    font-size: 22px;
    color: blue;
}

#title2 {
    margin-top: 10px;
    font-size: 50px;
}

.topbox {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 60px;
    grid-area: topbox;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.box {
    border-radius: 50px;
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 5px 5px lightblue;
    margin-bottom: 140px;
    flex: 1;
}

.contentbox {
    width: 30%;
    height: auto;
}

#contentbox {
    width: 30%;
    height: auto;
}

.box h1 {
    text-align: left;
    font-size: 17px;
    margin-top: 35px;
    margin-bottom: 24px;
}

.box p {
    text-align: left;
    color: grey;
}

.button3 {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: right;
}

.button3 a {
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 10px;
}

.buttonm {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: right;
}

.buttonm a {
    padding: 10px 15px;
    font-size: 20px;
    color: white;
    background-image: url(../image/Rectangle\ 8@2x.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 10px;
}

.buttombox {
    grid-area: buttombox;
    margin-left: 120px;
    margin-right: 120px;
    justify-content: center;
    display: flex;
    gap: 100px;
}

.container3 {
    margin-top: 70px;
    display: grid;
    grid-template-areas:
        'contexttext contexttext contexttext'
        'topbox topbox topbox'
        'buttombox buttombox buttombox'
    ;
    background-image: url(../image/background@2x.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-y: 350px;
}