html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1024px;
}

p {
    font-family: 'Epilogue', sans-serif;
}

.container1 {
    background-color: #222831;
    max-width: 1024px;
    color: white;
    text-align: center;
    font-size: 20px;
}

#logo1 {
    margin-top: -25px;
}

a {
    text-decoration: none;
    color: white;
}

.title1 {
    text-align: center;
    font-size: 35px;
    color: white;
}

/*-------------------------------------------------*/

.container2 {
    max-width: 1024px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.form {
    color: green;
    background-color: #C5F2D4;
    padding-top: 1vw;
    width: 41%;
}

legend {
    font-size: 25px;
}

fieldset h2 {
    color: green;
    margin-bottom: -20px;
    font-size: 20px;
}

.email {
    display: flex;
    gap: 130px;
}

.email h2 {
    margin-bottom: 5px;
    margin-top: 5px;
}

.send {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 160px;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 2vw;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

#country {
    width: 45%;
}


@media screen and (max-width: 700px) {
    .container2 {
        flex-direction: column;
    }

    .form {
        width: 82%;
        height: 74%;
    }

    legend {
        font-size: 40px;
    }

    fieldset input {
        margin: 5px 0;
        font-size: 180%;
    }

    fieldset h2 {
        color: green;
        margin-bottom: -20px;
        font-size: 30px;
    }

    .email {
        display: flex;
        gap: 290px;
    }

    .email h2 {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .gender {
        font-size: 30px;
        margin-top: -20px;
        margin-bottom: 10px;
    }

    input[type=radio] {
        border: 0px;
        width: 5%;
        transform: scale(2.0);
    }

    .send {
        margin-top: 30px;
        margin-bottom: 25px;
        margin-left: 320px;
        background-color: green;
        color: white;
        border: 1px solid green;
        border-radius: 2vw;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
        padding-right: 8px;
        cursor: pointer;
    }

    #country {
        width: 45%;
        font-size: 30px;

    }

    option {
        font-size: 12px;
    }

}

@media screen and (max-width: 420px) {
    .container2 {
        flex-direction: column;
    }

    .form {
        width: 82%;
        height: 74%;
    }

    legend {
        font-size: 40px;
    }

    fieldset input {
        margin: 5px 0;
        font-size: 180%;
    }

    fieldset h2 {
        color: green;
        margin-bottom: -20px;
        font-size: 30px;
    }

    .email {
        display: flex;
        gap: 290px;
    }

    .email h2 {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .gender {
        font-size: 30px;
        margin-top: -20px;
        margin-bottom: 10px;
    }

    input[type=radio] {
        border: 0px;
        width: 5%;
        transform: scale(2.0);
    }

    .send {
        margin-top: 30px;
        margin-bottom: 25px;
        margin-left: 320px;
        background-color: green;
        color: white;
        border: 1px solid green;
        border-radius: 2vw;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 8px;
        padding-right: 8px;
        cursor: pointer;
    }

    #country {
        width: 45%;
        font-size: 30px;

    }

    option {
        font-size: 12px;
    }

}

/*---------------------------------*/

.container3 {
    max-width: 1024px;
    background-color: white;
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
}

.contactbox {
    border: 2px solid #F3D1BF;
    width: 291px;
    background-color: #FDF0E9;
}

.phoneicon {
    display: flex;
}

.contactbox h5 {
    color: red;
    margin: 15px 20px;
}

.contactbox p {
    font-size: 20px;
}

.emailicon {
    display: flex;
}

.addressicon {
    display: flex;
}

.contactbox p {
    font-size: 17px;
}

@media screen and (max-width: 700px) {
    .container3 {
        flex-direction: column;
    }

    .contact {
        display: block;
        margin-top: 10px;

        margin-bottom: 20px;
    }

    .contactbox {}

    .contactbox h5 {
        font-size: 20px;
        margin: 13px 20px;
    }

    .contactbox p {
        font-size: 26px;
        word-spacing: 5px;
    }
}