body {
    margin: 0%;
}

.top {
    display: flex;
}

.top div {
    flex: 1;
}

.container1 {
    width: 1024px;
    position: relative;
    height: 88vh;
    margin: auto;
    background-image: url(../img/backgroud.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo1 {
    margin-left: 150px;
    margin-top: 10px;
}

.nav {
    right: 25px;
    display: flex;
    top: 40px;
    gap: 66px;
    font-size: 17px;
    align-items: center;
    position: absolute;
}

a {
    text-decoration: none;
    color: white;
}

.nav .icon {
    display: none;
}

.title {
    position: absolute;
    top: 200px;
    color: red;
    left: 190px;
    font-size: 20px;
    margin-top: 15%;
}

.title h1 {
    position: absolute;
    top: 20px;
    color: white;
    font-size: 55px;
}

.personalimage {
    position: absolute;
    top: -194px;
    left: 400px;
}

@media screen and (max-width: 600px) {}





/*------------------------------------------------*/

.container2 {
    position: relative;
    width: 1024px;
    background-color: white;
    height: 55vh;
    margin: auto;
}

.container2 h1 {
    position: absolute;
    font-size: 50px;
    top: 39px;
    left: 360px;
}

.container2 p {
    position: absolute;
    top: 140px;
    left: 85px;
    font-size: 30px;
    align-items: center;
    word-spacing: 8px;
}

/*====================================*/

.container3 {
    position: relative;
    width: 1024px;
    height: 80vh;
    margin: auto;
    background-image: url(../img/backgroud.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tool {}


.tool h2 {
    position: absolute;
    top: 50px;
    left: 90px;
    color: white;
    font-size: 50px;
}

.tool img {
    position: absolute;
    top: 180px;
    left: 90px;
}

.tool p {
    position: absolute;
    top: 191px;
    left: 400px;
    color: white;
    font-size: 20px;
    word-spacing: 8px;
}

.xampp {}

.xampp img {
    position: absolute;
    top: 400px;
    left: 700px;

}

.xampp p {
    position: absolute;
    top: 450px;
    left: 90px;
    color: white;
    font-size: 20px;
    word-spacing: 8px;
}

.buttom {
    text-align: center;
    position: absolute;
    top: 680px;
    left: 420px;

}

.buttom a {
    background-color: rgb(255, 102, 0);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 22px;
}

/*====================================*/
.container4 {
    position: relative;
    width: 1024px;
    background-color: white;
    height: 57vh;
    margin: auto;
}

.form {
    color: green;
    background-color: #C5F2D4;
    padding-top: 1vw;
    width: 41%;
    position: relative;
    top: 18%;
    left: 10%;
}

legend {
    font-size: 25px;
}


.email {
    display: flex;
    gap: 145px;
    color: rgba(96, 148, 122, 155);
}

.email a {
    margin-bottom: 100px;
}

.send {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 50x;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 2vw;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

#country {
    width: 45%;
}

.box {
    margin-left: 55%;
    margin-top: -20%;
}

.text h1 {
    font-size: 35px;
}

.emailpic {
    margin-left: 6px;
}

/*====================================*/

.footer {
    position: relative;
    width: 1024px;
    height: 31vh;
    margin: auto;
    background-image: url(../img/backgroud.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.personaltext {
    display: flex;
    gap: 8vw;
    text-align: center;
    align-items: center;
    color: white;
    padding-left: 10%;
    padding-top: 4%;


}

.social {
    position: absolute;
    display: flex;
    top: 100x;
    right: 70px;
}

.menu1 {
    position: absolute;
    top: 50px;
    left: 308px;
}

.menu2 {
    position: absolute;
    top: 50px;
    left: 458px;
}

.copyright {
    color: white;
    position: absolute;
    top: 238px;
    left: 50px;
}

.right {
    position: absolute;
    top: 238px;
    right: 50px;
    display: flex;
    gap: 50px;
    color: white;
}


/*border-top: 1px solid grey;*/