html,
body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1024px;
}

p {
    font-family: 'Epilogue', sans-serif;
}

.container1 {
    max-width: 1024px;
    background-color: #222831;

    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

.container1left {
    width: 50%;
    margin: auto;
}

.container1left p {
    color: red;
    font-size: 20px;
    padding-left: 7vw;
}

.container1left h1 {
    color: white;
    font-size: 55px;
    padding-left: 7vw;
}

.container1right {
    display: flex;
    justify-content: center;
    padding: 3vw;
    width: 50%;
    margin: auto;
}

#myimg {
    width: 60%;
    border-radius: 20px;
}

@media screen and (max-width: 800px) {
    .container1 {
        flex-wrap: wrap;
        text-align: center;
    }

    .container1left {
        width: 100%;
        order: 1;
    }

    .container1left {
        width: 100%;
        order: 2;
    }

    #myimg {
        width: 80%;
        border-radius: 20px;
    }
}

/*------------------------------------------------*/

.container2 {
    background-color: white;
    display: flex;
    justify-content: center;

    max-width: 1024px;
    margin: auto;
}

.center {
    justify-content: center;
}

.center h1 {
    font-size: 42px;
}

.center p {
    font-size: 25px;
    word-spacing: 1px;
}

@media screen and (max-width: 700px) {
    .container2 {
        flex-direction: column;
    }

    .center h1 {
        text-align: center;
        font-size: 45px;
    }

    .center p {
        margin-left: 10px;
    }
}

/*====================================*/

.container3 {
    background-color: #222831;
    max-width: 1024px;
}

.tooltitle {
    text-align: center;
    color: white;
    font-size: 30px;
}

.box1 {
    display: flex;
    justify-content: center;
}

.part1left {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.part1right {
    font-size: 20px;
    width: 50%;

    color: white;
}

.box2 {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.part2left {
    width: 50%;
    font-size: 20px;
    margin-left: 55px;
    color: white;
}

.part2right {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttom {
    text-align: center;
    padding-top: 4px;
    margin-bottom: 12px;
}

.buttom a {
    background-color: rgb(255, 102, 0);
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 22px;
}

@media screen and (max-width: 700px) {
    .container3 {
        text-align: center;
    }

    .box1 {
        flex-direction: column;
    }

    .part1left {
        width: 100%;
    }

    .part1right {
        width: 100%;
        text-align: center;
        font-size: 15px;
    }

    .box2 {
        flex-direction: column;
    }

    .part2left {
        width: 100%;
        color: white;
        text-align: center;
        order: 2;
        font-size: 15px;
        margin-left: 0;
        margin-top: -20px;
    }

    .part2right {
        width: 100%;
        order: 1;
    }

}

/*====================================*/
.container4 {
    background-color: white;
    max-width: 1024px;

}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px;
    margin-left: 10px;
}

.contactbox {
    border: 2px solid #F3D1BF;
    width: 291px;
    background-color: #FDF0E9;
}

.phoneicon {
    display: flex;
}

.contactbox h5 {
    color: red;
    margin: 15px 20px;

}

.contactbox p {
    font-size: 20px;
}

.emailicon {
    display: flex;
}

.addressicon {
    display: flex;
}

.contactbox p {
    font-size: 17px;
}

@media screen and (max-width: 480px) {
    .container3 {
        flex-direction: column;
    }

    .contact {
        display: block;
        margin-top: 10px;

        margin-bottom: 20px;
    }

    .contactbox {}

    .contactbox h5 {
        font-size: 20px;
        margin: 13px 20px;
    }

    .contactbox p {
        font-size: 26px;
        word-spacing: 5px;
    }
}