body {
    margin: 0%;
}

.top {
    display: flex;
}

.top div {
    flex: 1;
}

.container1 {
    width: 1024px;
    position: relative;
    height: 88vh;
    margin: auto;
    background-image: url(../img/backgroud.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo1 {
    margin-left: 150px;
    margin-top: 10px;
}

.topnav {
    right: 25px;
    display: flex;
    top: 40px;
    gap: 66px;
    font-size: 17px;
    align-items: center;
    position: absolute;
}

a {
    text-decoration: none;
    color: white;
}

.nav .icon {
    display: none;
}

.title p {
    position: absolute;
    top: 200px;
    color: red;
    left: 100px;
    font-size: 20px;
    margin-top: 15%;
}

.title h1 {
    position: absolute;
    top: 350px;
    left: 100px;
    color: white;
    font-size: 55px;
}

.home {
    display: flex;
}

.personalimage {
    position: absolute;
    top: 200px;
    left: 600px;

}

.image {
    border-radius: 30%;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 375px) {
    .container1 {
        background-size: 130%;
        height: 158vw;
    }

    .personalimage {
        position: absolute;
        top: 30vw;
        left: 105vw;
    }

    .image {
        height: 220px;
        width: 199px;
        border-radius: 20%;
    }

    .title p {
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 53vw;
        left: 104vw;
        font-size: 27px;
    }

    .title h1 {
        justify-content: center;
        text-align: center;
        position: absolute;
        top: 96vw;
        left: 91vw;
        font-size: 58px;
    }
}

/*------------------------------------------------*/

.container2 {
    position: relative;
    width: 1024px;
    background-color: white;
    height: 55vh;
    margin: auto;
}

.container2 h1 {
    position: absolute;
    font-size: 50px;
    top: 39px;
    left: 360px;
}

.container2 p {
    position: absolute;
    top: 140px;
    left: 85px;
    font-size: 30px;
    align-items: center;
    word-spacing: 8px;
}

@media screen and (max-width: 375px) {
    .container2 {
        height: 125vw;
    }

    .container2 h1 {
        text-align: center;
    }

    .container2 p {
        font-size: 30.5px;
    }
}

/*====================================*/

.container3 {
    position: relative;
    width: 1024px;
    height: 80vh;
    margin: auto;
    background-image: url(../img/backgroud.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.tool h2 {
    position: absolute;
    top: 50px;
    left: 90px;
    color: white;
    font-size: 50px;
}

.tool img {
    position: absolute;
    top: 180px;
    left: 90px;
}

.tool p {
    position: absolute;
    top: 191px;
    left: 400px;
    color: white;
    font-size: 20px;
    word-spacing: 8px;
}

.xampp img {
    position: absolute;
    top: 400px;
    left: 700px;
}

.xampp p {
    position: absolute;
    top: 450px;
    left: 90px;
    color: white;
    font-size: 20px;
    word-spacing: 8px;
}

.buttom {
    text-align: center;
    position: absolute;
    top: 680px;
    left: 420px;

}

.buttom a {
    background-color: rgb(255, 102, 0);
    border: none;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 22px;
}

@media screen and (max-width: 375px) {
    .container3 {
        height: 320vw;
    }

    .tool h2 {
        position: absolute;
        top: 10px;
        left: 98vw;
        font-size: 60px;
    }

    .tool img {
        position: absolute;
        top: 150px;
        left: 90vw;
        width: 350px;
    }

    .tool p {
        position: absolute;
        top: 328px;
        left: 29vw;
        font-size: 33px;
    }

    .xampp img {
        position: absolute;
        top: 496px;
        left: 106vw;
    }

    .xampp p {
        position: absolute;
        top: 730px;
        font-size: 33px;
        left: 29w;
    }

    .buttom {
        position: absolute;
        top: 920px;
    }

}

/*====================================*/
.container4 {
    position: relative;
    width: 1024px;
    background-color: white;
    height: 57vh;
    margin: auto;
}

.form {
    color: green;
    background-color: #C5F2D4;
    padding-top: 1vw;
    width: 41%;
    position: relative;
    top: 18%;
    left: 10%;
}

legend {
    font-size: 25px;
}


.email {
    display: flex;
    gap: 145px;
    color: rgba(96, 148, 122, 155);
}

.email a {
    margin-bottom: 100px;
}

.send {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 50x;
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 2vw;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
}

#country {
    width: 45%;
}

.box {
    margin-left: 55%;
    margin-top: -20%;
}

.text h1 {
    font-size: 35px;
}

.emailpic {
    margin-left: 6px;
}

@media screen and (max-width: 375px) {
    .container4 {
        height: 170vw;
    }

    .text h1 {
        position: absolute;
        top: 17px;
        left: 78vw;
        font-size: 40px;
        text-align: center;
    }

    .form {
        position: absolute;
        top: 27%;
        left: 85vw;
        width: 42.5%;
    }

    .contentbox {
        position: absolute;
        top: 500px;
        font-size: 30px;
        left: 62vw;
        text-align: center;
    }
}

/*====================================*/

.footer {
    position: relative;
    width: 1024px;
    height: 31vh;
    margin: auto;
    background-image: url(../img/backgroud.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.personaltext {
    display: flex;
    gap: 8vw;
    text-align: center;
    align-items: center;
    color: white;
    padding-left: 10%;
    padding-top: 4%;
}

.social {
    position: absolute;
    display: flex;
    top: 100x;
    right: 70px;
}

.menu1 {
    position: absolute;
    top: 50px;
    left: 308px;
}

.menu2 {
    position: absolute;
    top: 50px;
    left: 458px;
}

.copyright {
    color: white;
    position: absolute;
    top: 238px;
    left: 50px;
}

.right {
    position: absolute;
    top: 238px;
    right: 50px;
    display: flex;
    gap: 50px;
    color: white;
}

@media screen and (max-width: 375px) {
    .footer {
        height: 85vw;
    }
}


/*border-top: 1px solid grey;*/